In [ ]:
#Social_Network_Ads.csv

**Importing the libraries**

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

**Importing the dataset**

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
data = pd.get_dummies(data,drop_first=True)
data.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Male
0  15624510   19            19000          0            1
1  15810944   35            20000          0            1
2  15668575   26            43000          0            0
3  15603246   27            57000          0            0
4  15804002   19            76000          0            1

In [4]:
features = [feat for feat in data.columns if feat!= "Purchased" and feat!='User ID']
X = data[features]
Y = data.Purchased

In [5]:
X.head()

   Age  EstimatedSalary  Gender_Male
0   19            19000            1
1   35            20000            1
2   26            43000            0
3   27            57000            0
4   19            76000            1

In [6]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

**Splitting the dataset into the Training set and Test set**

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=300)
print(x_test.s)

**Feature Scaling**

**Fitting Decision Tree Classification to the Training set**

**Predicting the Test set results**

**Making the Confusion Matrix**

**Visualising the Training set results**

**Visualising the Test set results**